Adafruit-Blinka==8.41.2
Adafruit-CharLCD==1.1.1
adafruit-circuitpython-74hc595==1.4.4
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-charlcd==3.4.10
adafruit-circuitpython-connectionmanager==3.1.0
adafruit-circuitpython-ina219==3.4.24
adafruit-circuitpython-mcp230xx==2.5.13
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==4.0.0
adafruit-circuitpython-typing==1.10.3
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.69.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.8.1
args==0.1.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
clint==0.5.1
contourpy==1.2.1
cycler==0.12.1
DateTime==5.5
Flask==3.0.3
fonttools==4.53.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pyftdi==0.55.4
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pyusb==1.2.1
requests==2.32.3
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
RPLCD==1.3.1
six==1.16.0
spidev==3.6
sysv_ipc==1.1.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
zope.interface==6.4.post2